.navbar-fixed-top {
	background: #636b70;
	min-height: 0;
	height: 45px;
	padding: 5px 0;
	margin-bottom: 50px;
}

.navbar-header{
	height: 35px;
	padding: 5px 0;
}

.navbar-nav {
	display: inline-block;
}

.navbar-nav>li {
	display: inline-block;
}

.navbar-right {
	float: right;
}

/* Change the link color to #111111 (black) on hover */
.navbar-nav>li a:hover {
	background-color: #111111;
}

.active {
	background-color: #4CAF50;
}