/* Top Navigation Bar */
.navbar-fixed-top {
	background: #636b70;
	min-height: 0;
	height: 45px;
	padding: 5px 0;
	margin-bottom: 50px;
}

.navbar-header{
	height: 35px;
	padding: 5px 0;
}

.navbar-nav {
	display: inline-block;
	width:auto;
}

.navbar-nav>li {
	display: inline-block;
}

.navbar-right {
	float: right;
}

#calendar {
	float:center;
	width: 850px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

cont {
	display:inline-block;
}